<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css"
          integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <a class="navbar-brand" href="/">Book reviewer</a>
    {% if current_user.is_authenticated %}
    <a href="/books" class="btn btn-secondary" >Добавить книгу</a>
    {% endif %}
		{% if current_user.is_authenticated %}
	<a class="navbar-brand" href="/logout" >{{ current_user.name }}</a>
		{% else %}
	<p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
{% endif %}
</header>
<main role="main" class="container">
    {% block content %}
	{% endblock %}
</main>
</body>
</html>